body {
    margin: 0;
    padding: 0;
    position: relative;
}

#options {
    position: fixed;
    top: 0px;
    left: 15px;
    height: 54px;
    width: 64px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#title {
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(109, 92, 217, 1);
    font-size: 80px;
}

#mission {
    color: white;
    font-size: 43px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    top: 44%;
    bottom: 50%;
    left: 43%;
    /* right: 50%; */
    /* transform : translate(-50%, -50%); */
}

#paragraph {
    color: white;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    position: fixed;
    top: 47%;
    bottom: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block; 
    margin-bottom: 10px; 
}

#paragraph {
    color: white;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#paragraph:nth-child(4) {
    top: 59%;    
}

#paragraph:nth-child(5) {
    top: 65%;
}

#paragraph:nth-child(6) {
    top: 71%;
}

#paragraph:nth-child(7) {
    top: 77%;
}

#paragraph:nth-child(8) {
    top: 83%;
}


#heading {
    position: fixed;
    left: 50%;
    top: 164px;
    transform: translateX(-50%);
    color:rgba(109, 92, 217, 1);
    font-size: 25px;
    font-weight: normal;
}

#register {
    position: fixed;
    top: 15px;
    right: 230px;
    color: rgb(255, 255, 255);
    background-color:rgba(109, 92, 217, 1);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
}

#login {
    position: fixed;
    top: 15px;
    right: 334px;
    color:rgb(255, 255, 255);
    background-color: rgba(109, 92, 217, 1);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
}

form {
    position: fixed;
    top: 15px;
    right: 10px;
    background-color: rgba(109, 92, 217, 1);
    color: rgba(109, 92, 217, 1);
    padding: 10px;
    border-radius: 25px;
}

input[type="text"] {
    width: 180px;
    height: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: rgba(109, 92, 217, 1);
    color: white;
}

.purple-semi-circle {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56vh;
    border-radius: 50% 50% 0 0;
    background-color: rgba(109, 92, 217, 1);
}
.purple-semi-circle {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56vh;
    border-radius: 50% 50% 0 0; /* Creates a semi-circle shape at the bottom */
    background-color: rgba(109, 92, 217, 1);
}

.search::placeholder {
    color: white;
}
